    <div class="row hidden-sm hidden-xs">
        <div class="col-xs-4">
            <div class="navbar-brand"><a class="logo" href="#">泛亚金融</a></div>
            <ul class="bottom-icons social-icons">
                <li><a href="#" data-toggle="modal" data-target="#myModal" rel="nofollow"><span class="sl-icon-wechat"></span></a></li>
                <li><a href="http://weibo.com/dianrongwang" target="_blank" rel="nofollow"><span class="sl-icon-weibo"></span></a></li>
            </ul>
            <div class="support-phone">
                <span class="phone">咨询电话</span>
                <h4 class="number">400-400-4040</h4>
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1">
            <div class="row site-map">
                <div class="col-xs-4">
                    <h6 class="title footer-home">公司信息</h6>
                    <ul class="bottom-links">
                        <li><a href="/public/about#/company">关于泛亚金融</a></li>
                        <li><a href="/public/about#/news">公司动态</a></li>
                        <li><a href="/public/about#/media">媒体报道</a></li>
                        <li><a href="/public/about#/job">招贤纳士</a></li>
                        <li><a href="/public/about#/contact">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h6 class="title footer-policy">相关政策</h6>
                    <ul class="bottom-links">
                        <li><a href="/public/rates-and-fees" target="_blank">费率说明</a></li>
                        <li><a href="/public/principal-protection" target="_blank">本金保障</a></li>
                        <li><a href="/public/terms-of-use" target="_blank">使用条款</a></li>
                        <li><a href="/public/privacy-and-security" target="_blank">隐私保护</a></li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h6 class="title footer-mobile">手机应用</h6>
                    <ul class="bottom-links">
                        <li><a href="https://itunes.apple.com/us/app/dian-rong-wang/id725186556?mt=8" target="_blank" rel="nofollow">iPhone版下载</a></li>
                        <li><a href="http://app.mi.com/detail/56107" target="_blank" rel="nofollow">Android版下载</a></li>
                    </ul>
                    <div class="wechat" >
                        <span class="qr-code">泛亚金融公众号 - fanyajr</span>
                        <div class="description">
                            <span class="name">微信公众号</span>
                            <span>泛亚金融</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><span>©2014 泛亚金融</span></li>
                <li><span>京ICP备14028399号</span></li>
                <li><span>云南泛亚普惠金融服务中心有限责任公司</span></li>
            </ul>
        </div>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>