#parse("./common/head.html")
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-8">
        <ul class="nav navbar-nav  hidden-sm hidden-xs">
            <li><span class="navbar-text">热线：400-400-4040</span></li>
            <li><span class="navbar-text">官方QQ群:139139139</span></li>
            <li><a href="http://weibo.com/fanyajr" target="_blank" rel="nofollow"></a></li>
            <!--
            <li>
                <a href="#" class="icon-sns wechat">
                    <div class="social-content">
                        <span>
                            <p class="social-title">微信公众号</p>
                            <p><img src="/static/images/common/qr-code.jpg"></p>
                        </span>
                    </div>
                </a>
            </li>
            -->
        </ul>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-4">
        <ul id="nonLoginBar" class="nav navbar-nav navbar-right navbar-sm">
            <li><a id="login-panel" href="login.html" rel="nofollow">登录</a></li>
            <li><a id="create-account" href="register.html" class="btn btn-sm" rel="nofollow">注册账户</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">泛亚</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="invest.html">我要投资</a></li>
                <li><a href="loan.html">我要借款</a></li>
                <li><a href="help.html">帮助中心</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
        </div>
    </nav>
</div>