<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:resources.properties</value>
                <value>classpath:log4j.properties</value>
                <value>classpath:memcached.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
    </bean>
    <!--
    <bean id="memcachedClient" class="net.spy.memcached.MemcachedClient">
        <constructor-arg index="0">
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg index="0" value="${memcached.0.host}" />
                    <constructor-arg index="1" value="${memcached.0.port}" />
                </bean>
            </list>
        </constructor-arg>
    </bean>
     -->
    <!-- 扫描注解Bean -->
    <context:annotation-config />
    <context:component-scan base-package="com.fanya.p2p.core.user"/>

    <!-- 开启AOP监听 只对当前配置文件有效  -->
    <aop:aspectj-autoproxy expose-proxy="true"/>


    <!-- 数据源 -->
    <!--see https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_DruidDataSource%E5%8F%82%E8%80%83%E9%85%8D%E7%BD%AE-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${connection.url}"/>
        <property name="username" value="${connection.username}"/>
        <property name="password" value="${connection.password}"/>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="${druid.initialSize}"/>
        <property name="minIdle" value="${druid.minIdle}"/>
        <property name="maxActive" value="${druid.maxActive}"/>

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="${druid.maxWait}"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />

        <property name="validationQuery" value="${druid.validationQuery}" />
        <property name="testWhileIdle" value="${druid.testWhileIdle}" />
        <property name="testOnBorrow" value="${druid.testOnBorrow}" />
        <property name="testOnReturn" value="${druid.testOnReturn}" />

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小  如果用Oracle，则把poolPreparedStatements配置为true，mysql可以配置为false。-->
        <property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.maxPoolPreparedStatementPerConnectionSize}" />

        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="${druid.filters}" />

    </bean>

    <bean id="dataSourceProxy" class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
        <property name="targetDataSource" ref="dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSourceProxy"
          p:configLocation="classpath:config/mybatis-config.xml"
          p:mapperLocations="classpath:config/mappers/*.xml" />

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
        <constructor-arg index="1" value="BATCH" />
    </bean>


    <bean id="sysAppMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysAppMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysOrganizationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysOrganizationMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysResourceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysResourceMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysRoleMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysUserAppRoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysUserAppRolesMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysUserMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="sysUserSecurityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysUserSecurityMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="sysUserIdentificationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.fanya.p2p.core.user.dao.SysUserIdentificationMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <!--
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSourceProxy"/>
    </bean>


    <bean id="masterSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="masterDataSource"
          p:configLocation="classpath:config/mybatis-config.xml"
          p:mapperLocations="classpath:config/mappers/*.xml" />

    <bean id="slaveSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="slaveDataSource"
          p:configLocation="classpath:config/mybatis-config.xml"
          p:mapperLocations="classpath:config/mappers/*.xml" />
    -->
    <!--事务管理器配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceProxy"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config expose-proxy="true" proxy-target-class="true">
        <aop:pointcut id="txPointcut" expression="execution(* com.fanya.p2p.core.user.service..*+.*(..))"/>
        <aop:advisor id="txAdvisor" advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>

    <bean class="com.fanya.p2p.core.user.spring.SpringUtils"/>

    <bean id="passwordHelper" class="com.fanya.p2p.common.service.PasswordHelper">
        <property name="algorithmName" value="${password.algorithmName}"/>
        <property name="hashIterations" value="${password.hashIterations}"/>
    </bean>
    <dubbo:reference id="accountService" interface="com.fanya.p2p.common.service.AccountService" />
    <bean id="userService" class="com.fanya.p2p.core.user.service.UserServiceImpl">
        <property name="sysUserMapper" ref="sysUserMapper"/>
        <property name="sysUserSecurityMapper" ref="sysUserSecurityMapper"/>
        <property name="sysUserIdentificationMapper" ref="sysUserIdentificationMapper"/>
        <property name="passwordHelper" ref="passwordHelper"/>
        <property name="accountService" ref="accountService"/>
        <property name="signService" ref="signService" />
    </bean>
    <bean id="appService" class="com.fanya.p2p.core.user.service.AppServiceImpl">
        <property name="sysAppMapper" ref="sysAppMapper"/>
    </bean>
    <bean id="authorizationService" class="com.fanya.p2p.core.user.service.AuthorizationServiceImpl">
        <property name="sysUserAppRolesMapper" ref="sysUserAppRoleMapper"/>
        <property name="appService" ref="appService"/>
        <property name="roleService" ref="roleService"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="organizationService" class="com.fanya.p2p.core.user.service.OrganizationServiceImpl">
        <property name="sysOrganizationMapper" ref="sysOrganizationMapper"/>
    </bean>
    <bean id="resourceService" class="com.fanya.p2p.core.user.service.ResourceServiceImpl">
        <property name="sysResourceMapper" ref="sysResourceMapper"/>
    </bean>
    <bean id="roleService" class="com.fanya.p2p.core.user.service.RoleServiceImpl">
        <property name="sysRoleMapper" ref="sysRoleMapper"/>
    </bean>


    <bean id="signService" class="com.fanya.p2p.core.user.service.SignServiceImpl">
        <property name="sysAppMapper" ref="sysAppMapper"/>
    </bean>




</beans>