<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.2//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<!--setting name="lazyLoadingEnabled" value="true" /-->
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>

	<typeAliases>
		<typeAlias alias="capitalAccountFlow" type="com.fanya.p2p.common.entity.CapitalAccountFlow" />
        <typeAlias alias="capitalAccount" type="com.fanya.p2p.common.entity.CapitalAccount" />
        <typeAlias alias="capitalAccountBankcard" type="com.fanya.p2p.common.entity.CapitalAccountBankcard" />
	</typeAliases>
        </configuration>