<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:property-placeholder location="classpath:resources.properties,classpath:memcached.properties"/>

    <!-- 扫描注解Bean -->
    <context:component-scan base-package="com.fanya.p2p.front">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <dubbo:annotation/>
    <!-- 开启AOP监听 只对当前配置文件有效      -->
    <aop:aspectj-autoproxy expose-proxy="true"/>


    <bean id="memcachedClient" class="net.spy.memcached.MemcachedClient">
        <constructor-arg index="0">
            <list>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg index="0" value="${memcached.0.host}" />
                    <constructor-arg index="1" value="${memcached.0.port}" />
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean class="com.fanya.p2p.front.user.spring.SpringUtils"/>
    <bean class="com.fanya.p2p.common.service.PasswordHelper"/>

    <import resource="classpath:spring-config-shiro.xml"/>
    <import resource="classpath:spring-config-dubbo-consumer.xml"/>
</beans>